.jumbotron {
    text-align: center;
    background-color: transparent;
}



.f-auto
{
    -webkit-flex: auto; 
    flex: auto;    
}
/*Поле для расположение блоков слева*/
.flex_left
{
    /*border:2px dotted red;*/
	display: flex; 
    /*padding: 3px;*/
    /*
	http://frontender.info/a-guide-to-flexbox
	http://css-live.ru/articles/vizualnoe-rukovodstvo-po-svojstvam-flexbox-iz-css3.html
*/
	flex-direction: row; /*слева направо*/
	-webkit-flex-direction: row; /* Safari */
	flex-wrap: nowrap; /*однострочный*/
	justify-content: flex-start; /*элементы сдвигаются к началу строки*/
	align-items: center; /*элементы выравниваются по центру поперечной оси;*/
	align-content: center; /*строки выравниваются по центру контейнера;*/
}
/* Поле для расположения блоков справа*/
.flex_right
{
	/*margin-top:5px;*/
	/*border:2px dotted red;*/
	display: flex; 
	flex-direction: row-reverse; /* справо на лево*/
	-webkit-flex-direction: row-reverse; /* Safari */
	flex-wrap: nowrap; /*однострочный*/
	justify-content: flex-start; /*элементы сдвигаются к началу строки*/
	align-items: center; /*элементы выравниваются по центру поперечной оси;*/
	align-content: center; /*строки выравниваются по центру контейнера;*/
}

/* Поле для расположения блоков в центре*/
.flex_center
{
	/*margin-top:5px;*/
	/*border:2px dotted red;*/
	display: flex; 
	flex-direction: row; /*слева направо*/
	flex-wrap: nowrap; /*однострочный*/
	justify-content: center; /*элементы выравниваются по центру*/
	-webkit-justify-content: center; /* Safari */
	align-items: center; /*элементы выравниваются по центру поперечной оси;*/
	align-content: center; /*строки выравниваются по центру контейнера;*/
}
