.jumbotron {
    text-align: center;
    background-color: transparent;
}
.gi-x{font-size: 1.2em;}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.f-auto
{
    -webkit-flex: auto; 
    flex: auto;    
}
/*
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
*/




/*Поле для расположение блоков слева*/
.flex_left
{
    /*border:2px dotted red;*/
	display: flex; 
    /*padding: 3px;*/
    /*
	http://frontender.info/a-guide-to-flexbox
	http://css-live.ru/articles/vizualnoe-rukovodstvo-po-svojstvam-flexbox-iz-css3.html
*/
	flex-direction: row; /*слева направо*/
	-webkit-flex-direction: row; /* Safari */
	flex-wrap: nowrap; /*однострочный*/
	justify-content: flex-start; /*элементы сдвигаются к началу строки*/
	align-items: center; /*элементы выравниваются по центру поперечной оси;*/
	align-content: center; /*строки выравниваются по центру контейнера;*/
}
/* Поле для расположения блоков справа*/
.flex_right
{
	/*margin-top:5px;*/
	/*border:2px dotted red;*/
	display: flex; 
	flex-direction: row-reverse; /* справо на лево*/
	-webkit-flex-direction: row-reverse; /* Safari */
	flex-wrap: nowrap; /*однострочный*/
	justify-content: flex-start; /*элементы сдвигаются к началу строки*/
	align-items: center; /*элементы выравниваются по центру поперечной оси;*/
	align-content: center; /*строки выравниваются по центру контейнера;*/
}

/* Поле для расположения блоков в центре*/
.flex_center
{
	/*margin-top:5px;*/
	/*border:2px dotted red;*/
	display: flex; 
	flex-direction: row; /*слева направо*/
	flex-wrap: nowrap; /*однострочный*/
	justify-content: center; /*элементы выравниваются по центру*/
	-webkit-justify-content: center; /* Safari */
	align-items: center; /*элементы выравниваются по центру поперечной оси;*/
	align-content: center; /*строки выравниваются по центру контейнера;*/
}

/* Таблицы ширина столбца*/
.wb2
{
    width: 2%;
}
.wb5
{
    width: 5%;
}
.wb10
{
    width: 10%;
}
.wb15
{
    width: 15%;
}
.wb20
{
    width: 20%;
}
.wb30
{
    width: 30%;
}
.wb50
{
    width: 50%;
}
.wb60
{
    width: 60%;
}
.wb70
{
    width: 70%;
}
.wb80
{
    width: 80%;
}
.wb100
{
    width: 100%;
}
.ct
{
    text-align: center;
}
.lt
{
    text-align: left;
}
.cur
{
    cursor: pointer;
}

.shadow
{

}
.shadow:hover
{
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(90, 90, 90, 0.2);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(90, 90, 90, 0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(90, 90, 90, 0.2);
    outline: 0;

}
